.form {
  margin: 12px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 280px;
}

textarea { width: 400px; height: 160px;} .error-text {color:red; font-family: Tahoma, sans-serif;}